@charset "utf-8";

* {
    border: 0px solid #ddd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h4 {
    text-align: center;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.22rem;
    line-height: 1.2rem;
}

article {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}


section {
    margin: 0 3%;
    padding: 0;
}



main img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}





.sub_main {
    position: relative;
    z-index: 101;
}

.sub_main_text {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    top: 50%;
    left: 50%;
    z-index: 103;
}

.sub_main_text h1 {
    margin: 10px 0;
}

.sub_main_text h4 {
    padding: 10px 0;
    line-height: 1.2rem;
}

.sub_main_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 102;
}

.sub_img_cover{
    object-fit: cover;
}
/* board  con*/



.board-contents{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.board-contents:last-of-type{
    border-bottom: 1px solid #ddd;
}

.board-contents:hover{
    background: #23232318;
}

.b-head{
    width: 20%;
    text-align: center;
    font-size: 1rem;
    color: #999;
}



.b-title{
    width: 60%;
    margin: 0 10px;
    padding: 0 10px;
    text-overflow : ellipsis;
    /* border-right: 1px solid #ddd;
    border-left: 1px solid #ddd; */
}

.b-day{
    width: 20%;
    text-align: center;
    font-size: 1rem;
    color: #999;
}



/* board done */

.qna_q {
    display: flex;
    align-items: center;
    text-align: left;
}

.qna_q span {
    border-right:1px solid #ddd;
    padding: 0 10px;
    margin-right: 20px;
    color:#999
}




/* qna mb */

.qna-menu-choice-mb{
    margin:0;
    padding:0;
}
.qna-tab-menu-mb{
    width: 100%;
    height: 60px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 30px 0;
    padding: 0px 3%;
    cursor: pointer;
    font-size: 1.1rem;
    transition: .3s;
}

.qna-tab-menu-mb:hover{
    background: #232323;
    color:#ddd;
}



/* qna pc */

.qna-tab-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid #ddd;
}

.qna-tab-menu li{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-left: 1px solid #ddd;
    text-decoration: none;
    transition: .2s;
}

.qna-tab-menu li:first-of-type{
    border:none;
}

.qna-tab-menu li:hover,
.qna-tab-menu li.qnaSelected {
    background: #05141f;
    color:#ddd;
}


.qna-menu-choice-pc{
    display: none;
}


/* news */

.news-search {
    margin: 10px 0;
    height: 60px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.news-search section {
    width: 100%;
}

.news-search label {
    display: flex;
    position: relative;
    width: 100%;
    height: 35px;
}

.news-search label input {
    width: 100%;
    margin: 0;
    padding: 0 10px;
}


.news-search span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 0px;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.news-search span img {
    width: 20px;
    height: 20px;
}




/* news-contentes*/

.news-contents section ul li {
    margin-bottom: 30px;
    cursor: pointer;
}

.news-contents section ul li>div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.news-contents section ul li div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: .3s;
}


.news-contents section ul li:hover div img {
    transform: scale(1.1);
    display: block;
}



.news-contents section ul li p:nth-of-type(1) {
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: bold;
    margin: 15px 0;
}


.news-contents section ul li p:nth-of-type(2) {
    margin: 15px 0;
}


.news-contents section ul li p:nth-of-type(3) {
    font-size: 0.9rem;
    margin: 15px 0;
}

.news-contents .news-page {
    margin: 0;
    padding: 0;
    display: flex;
    height: 40px;
}


.news-contents .news-page-num {
    font-size: 1.3rem;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 30px;
}


.news-contents .news-page-num:hover {
    color: crimson;
}

.news-contents .news-page-num.newsActive {
    color: crimson;
    border-bottom: 3px solid crimson;
    transition: .2s;
}



@media screen and (min-width:866px) {

    article {
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0;
    }


    section {
        margin: 0;
        padding: 0;
    }
   
    .board-menu-choice-pc{
        width: 1200px;
        margin:0 auto;
    }
    /* 보이기안보이기 */

    .qna-menu-choice-mb{
     display: none;
    }

    .qna-menu-choice-pc{
        display: block;
    }
    /* 보이기안보이기 */

    .news-search {
        width: 1200px;
        margin: 20px auto;
        height: 100px;

    }

    .news-search section {
        width: 800px;
        margin: 0 auto;
        ;
    }

    .news-search label {
        display: flex;
        position: relative;
        width: 100%;
        height: 50px;
    }

    .news-search span img {
        width: 30px;
        height: 30px;
    }




    /* news-contentes*/

    .news-contents section {
        margin: 0 auto;
    }

    .news-contents section ul {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 20px;
    }

    .news-contents section ul li {
        margin-bottom: 0px;
    }

    .news-contents .news-page {
        margin: 30px 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }


}